  .default-page {
    height: 100%;
    background-color: $custom-black;
    position: relative;
    color: $custom-white;

    h2 {
      display: none;
    }

    .default-back-image-container {
      background: url('../../public/images/dj-xite-logo.png') no-repeat center center;
      z-index: 2;
      background-color: $custom-black;
      background-size: 40%;
      color: $custom-white;
      filter: grayscale(100%);
      height: 50vh;
      animation: spin 9s ease-in-out;
    }

    @keyframes spin {  
      from {
        transform: rotate(0deg);
        opacity: 0;
      }  
      to {
        transform: rotate(360deg);
        opacity: 1;
      }  
    }

    .back-image-container {
      z-index: 2;
      background-color: $custom-black;
      background-position: top center;
      background-size: cover;
      color: $custom-white;
      filter: grayscale(100%);
      height: 50vh;
      transition: background-image 7s ease-out;
    }

    .default-content {
      box-sizing: border-box;
      padding: $spacing-m $spacing-m;
      color: $custom-white;
      text-align: left;
      height: 50vh;
      position: absolute;
      z-index: 3;
      bottom: 2px;

      h1 {
        color: $custom-white;
        margin: 0;
        padding: 0 0 $spacing-m 0;
        font-size: $font-l;
        text-align: left;
      }

      p {
        padding: 0 $spacing-sm $spacing-sm 0;
      }

      .scroll-content {
        height: 34vh;
        overflow: scroll;
        overflow-y: visible;
        margin: 0 0 $spacing-m 0;

        ul {
          list-style-type: square;
          padding-left: $spacing-m;
        }
      }
    }
}

@media only screen and (min-width: $bp-mobile-max) {
  .default-page {
    .default-back-image-container {
      background: url('../../public/images/dj-xite-logo.png') no-repeat center center;
      height: 100vh;
    }

    .back-image-container {
      background-position: center center;
      height: 100vh;
    }

    h2 {
      display: block;
      position: absolute;
      bottom: $spacing-m;
      left: $spacing-l;
      color: $custom-white;
      opacity: 0.8;
      font-size: 6em;
      padding: 0px;
      margin: 0px;
    }

    .default-content {
      position: absolute;
      z-index: 3;
      top: $spacing-m;
      right: $spacing-ml;
      width: 400px;
      text-align: left;
      margin: 0;
      height: 60%;
      background-color: rgb(0,0,0, 0.65);

      h1 {
        padding: 0 0 $spacing-m 0;
      }

      .scroll-content {
        height: 51vh;
        overflow: scroll;
        overflow-y: visible;

        ul {
          list-style-type: square;
          padding-left: $spacing-m;
        }
      }

    }
  }
}
