$link-color-selected: #ff0000; 
$custom-black: #000000;   
$custom-white: #ffffff;
$custom-grey: grey;
$custom-light-grey: lightgray;
$success: lightgreen;
$error: lightcoral;
$warning: orange;

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-sm: 15px;
$spacing-m: 20px;
$spacing-l: 40px; 
$spacing-xl: 50px;
$spacing-xxl: 60px;
$spacing-xxxl: 80px;

$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 24px;
$font-xl: 28px;

$bp-mobile-max: 768px;


$transition-timing: 0.6s;
