$link-color-selected: #ff0000; 
$custom-black: #000000;   
$custom-white: #ffffff;
$custom-grey: grey;
$success: lightgreen;
$error: lightcoral;

$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 40px; 
$spacing-xl: 40px;


$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 24px;
$font-xl: 28px;

$bp-mobile-max: 768px;
