@import '../../styles/variables.scss'; 

.modal-container {
    box-sizing: border-box;
    position: fixed;
    z-index: 35;
    top: $spacing-m;
    left: $spacing-m;
    right: $spacing-m;
    bottom: $spacing-m;
    background-color: $custom-black;
    opacity: 0.95;
    border: 2px solid $custom-white;

    button {
        position: absolute;
        top: $spacing-m;
        right: $spacing-m;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;

        svg {
            fill: $link-color-selected;  
            transition: fill $transition-timing ease-in-out;      
        }

        &:hover {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;

            svg {
                fill: $custom-white;      
            }
        }
    }

    h2 {
        font-size: 6em;
    }
}