@import '../../styles/variables.scss';

.header-nav {
  position: fixed;
  z-index: 4;
  top: $spacing-sm;
  left: $spacing-m;
  text-align: left;
  margin: auto;

  ul.nav-icon {
    padding: 0;
    margin: 0;

    svg {
      width: $spacing-l;
      height: $spacing-l;
      fill: $link-color-selected;
    }

    &:hover {

      svg {
        fill: $custom-white;
      }
    }
  }

  ul.nav-icon li:hover ul.nav-links {
    list-style: square;
    color: $link-color-selected;
    display: block;
    transition: display 1.2s ease-in-out;
  }

  ul.nav-links {
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 30;
    display: none;
    padding: 0px;
    margin: $spacing-s 0;

  }
  
  ul.nav-links li {
    margin-left: 20px;
    padding: 0px 0px $spacing-m 0px;
    font-size: 1.2em;

  }
  
  .nav-links li a {
    text-decoration: none;
    color: $custom-white;
  }
  
  .nav-links li a:hover {
    color: $link-color-selected;
  }
}


@media only screen and (min-width: $bp-mobile-max) {
  .header-nav {
    ul.nav-icon {
      padding: 0;
      margin: 0;

      svg {
        width: $spacing-xl;
        height: $spacing-xl;
        fill: $link-color-selected;
      }
    }

    .nav-links {
      display: none;
      padding: 0px;
      margin: $spacing-xl 0;
    }
  }
}

